.nav {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.nav_mobile {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 20px;

  button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    .line {
      width: 30px;
      height: 2px;
      background-color: white;
    }
  }
}

.cart {
  display: flex;
  gap: 10px;
  align-items: center;

  .cart_count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #242424;
    background-color: white;
    border-radius: 50%;
  }
}

@media (max-width: 830px) {
  .nav {
    display: none;
  }

  .nav_mobile {
    display: flex;
  }
}

@media (min-width: 830px) {
  .nav {
    display: flex;
  }

  .nav_mobile {
    display: none;
  }
}
