.burger {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  background-color: #242424;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: max-content;
    list-style: none;

    li {
      width: max-content;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
