.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 10px;

    .search {
      width: 100%;
      margin-left: 0;
    }

  }
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.search {
  width: 30%;
  flex: 1;
  margin-left: 20px;
}

