.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-top: 20px;
    list-style: none;

    //width: 500px;

    .item {
      display: flex;
      gap: 20px;
      align-items: center;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 2px solid white;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .text {
        display: flex;
        flex-direction: column;
      }

      img {
        max-width: 200px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .btn {
    margin: 0 auto;
    margin-top: 30px;
  }

  .delete {
    width: max-content;
    height: max-content;
  }

  .empty {
    color: red;
    font-size: 30px;
  }
}
