.wrapper {
  text-align: center;

  .title {
    margin-bottom: 30px;
  }

  .list {
    list-style: none;
    padding: 0;

    .item {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 2px solid #ddd;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 600px){
        flex-direction: column;
        gap: 20px;
      }

      .image {
        max-width: 150px;
        margin-right: 20px;
      }

      .text {
        text-align: left;

        .name {
          margin-bottom: 5px;
        }

        p {
          margin: 5px 0;
        }
      }

      .status {
        font-weight: bold;
        margin-top: 10px;
      }

      .green {
        color: green;
      }

      .red {
        color: red;
      }
    }
  }
}
