.wrapper {
  text-align: center;

  .title {
    margin-bottom: 30px;
  }

  .list {
    list-style: none;
    padding: 0;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border: 2px solid #ddd;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 600px){
        flex-direction: column;
        gap: 20px;
      }
      .product {
        display: flex;
        align-items: center;

        .image {
          max-width: 150px;
          margin-right: 20px;
        }

        .text {
          text-align: left;

          .name {
            margin-bottom: 5px;
          }
        }
      }

      .delete {
        background-color: #ff4d4f;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f5222d;
        }
      }
    }
  }

  .btn {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;

    &:hover {
      background-color: #40a9ff;
    }
  }

  .empty {
    color: red;
    font-size: 24px;
    margin-top: 30px;
  }
}
